engines:
  local:
    lvm:
      enabled: false
    zfs:
      enabled: false
mayastor:
  etcd:
    replicaCount: 2
  io_engine:
    cpuCount: "2"
    coreList: []
  csi:
    node:
      initContainers:
        enabled: false