apiVersion: kustomize.config.k8s.io/v1beta2
kind: Kustomization
metadata:
  name: tailscale
  namespace: tailscale
resources:
  - namespace.yml
  - helmrepository.yml
  - secretstore.yml
  - secrets.yml
