apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nginx-system
  namespace: flux-system
spec:
  dependsOn:
    - name: tailscale-config
  interval: 1h
  retryInterval: 1m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./infrastructure/nginx/controller
  prune: true
  healthChecks:
  - apiVersion: apps/v1
    kind: Deployment
    name: nginx-ingress-nginx-controller
    namespace: nginx
