apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-staging
    external-dna.alpha.kubernetes.io/hostname: headlamp.kdmorris.dev
    kubernetes.io/tls-acme: "true"
  name: headlamp
  namespace: headlamp
spec:
  ingressClassName: nginx
  rules:
    - host: headlamp.kdmorris.dev
      http:
        paths:
        - backend:
            service:
              name: headlamp
              port: 80
  tls:
  - secretName: headlamp.kdmorris.dev
    hosts:
    - headlamp.kdmorris.dev
