apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cnpg-system
  namespace: flux-system
spec:
  interval: 1h
  retryInterval: 1m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./infrastructure/cnpg/controller
  prune: true
  healthChecks:
  - apiVersion: apps/v1
    kind: Deployment
    name: cnpg-cloudnative-pg
    namespace: cnpg-system
