apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  provider:
    infisical:
      hostAPI: https://eu.infisical.com
      auth:
        universalAuthCredentials:
          clientId:
            key: clientId
            namespace: default
            name: universal-auth-credentials
          clientSecret:
            key: clientSecret
            namespace: default
            name: universal-auth-credentials
      secretsScope:
        projectSlug: home-0l-uq
        environmentSlug: prod
